<div class="display-div">
  <div class="button-div">
    <a href="/dogs/random">
      <button id="dog-button" class="action-button">show me some dogs!</button>
    </a>
  </div>

  <div class="button-div">
    <a href="/cats/random">
      <button id="cat-button" class="action-button">show me some cats!</button>
    </a>
  </div>

  <div class="button-div">
    <a href="/racoons/random">
      <button id="racoon-button" class="action-button">show me some racoons!</button>
    </a>
  </div>
</div>
